.project-section {
  padding: 50px 8%;
  /* background: var(--bg); */
  color: #fff;
}

.project-title {
  font-size: 42px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 60px;
  position: relative;
}

.project-title::after {
  content: "";
  width: 80px;
  height: 4px;
  background: #00f7ff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -15px;
  border-radius: 20px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
}

.project-card {
  background: var(--surface);
  border: 1px solid rgba(255,255,255,0.08);
  padding: 35px 30px;
  border-radius: 24px;
  transition: 0.4s ease;
  position: relative;
  overflow: hidden;
  backdrop-filter: blur(10px);
}

.project-card::before {
  content: "";
  position: absolute;
  width: 180px;
  height: 180px;
  background: rgba(0, 247, 255, 0.08);
  border-radius: 50%;
  top: -60px;
  right: -60px;
  transition: 0.5s ease;
}

.project-card:hover::before {
  transform: scale(1.3);
}

.project-card:hover {
  transform: translateY(-10px);
  border-color: rgba(0, 247, 255, 0.4);
  box-shadow: 0 10px 40px rgba(0, 247, 255, 0.15);
}

.project-name {
  font-size: 26px;
  margin-bottom: 18px;
  color: #fff;
  position: relative;
  z-index: 2;
}

.project-desc {
  font-size: 16px;
  line-height: 1.7;
  color: #bdbdbd;
  margin-bottom: 25px;
  position: relative;
  min-height: 300px;
  z-index: 2;
}

.project-link{
  display: inline-block;
  padding: 12px 24px;
  background: rgba(0, 247, 255, 0.08);
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  transition: 0.3s ease;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border: none;
}

.project-link:hover {
  background: #091120;
  transform: scale(1.05);
}


.view-website{
  display: inline-block;
  padding: 12px 24px;
  background: rgb(243 79 41);
  color: #fff;
  text-decoration: none;
  border-radius: 40px;
  font-weight: 600;
  font-size: 16px;
  transition: 0.3s ease;
  position: relative;
  z-index: 2;
  cursor: pointer;
  border: none;
  right: 20px;
}
.view-website:hover {
  background: #091120;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .project-desc {
    min-height: auto;
  }
  .project-buttons{
    margin-left: 10px;
  }
  .project-section {
    padding: 70px 5%;
  }

  .project-title {
    font-size: 32px;
  }

  .project-card {
    padding: 28px 22px;
  }

  .project-name {
    font-size: 24px;
  }
  
}